body{
    font-weight: 600;
}

header div{
    background-image: url('./img/pattern.png');
    height: 130px;
    background-color: #4EA0FF;
    background-size: contain;
    margin-left: 0;
    
}

div img{
    height: 60px;
    padding-top: 60px;
    padding-left: 10px;
}


/* sezione articolo */
article h1{
    margin-bottom: 0;
}

.sotto-testo{
    color: #808080;
    font-size: 20px;
    font-weight: lighter;
}

a{
    color: #20A9E5;
    text-decoration: none;
}
.piccolo{
    font-size: 15px;
}

#tim-1{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.foto-info{
    font-weight: 600;
    font-size: 10px;
}
.highlight{
    background-color: yellow;
}