

header div{
    background-image: url('./img/pattern.png');
    height: 130px;
    background-color: #4EA0FF;
    background-size: contain;
    margin-left: 0;
    
}

header div img{
    height: 60px;
    padding-top: 60px;
    padding-left: 10px;
}


/* sezione articolo */
article h1{
    margin-bottom: 0;
}

.sotto-testo{
    color: #808080;
    font-size: 20px;
    font-weight: lighter;
}

a{
    color: #20A9E5;
    text-decoration: none;
}
.piccolo{
    font-size: 15px;
}

#tim-1{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.foto-info{
    font-size: 10px;
}
.highlight{
    background-color: yellow;
}
 th{
    font-weight: 600;
    color: white;
    background-color: #20A9E5;

 }
/* table size column */
.venticinque{
    width: 25%;
}
.cinquanta{
    width: 50%;
}
.cella{
    text-align: center;
}

.blu{
    background-color:#B1E5F2 ;
}

h3{
 color: #808080;   
}

.int-img{
    width: 312px;
    height: 208px;
    position: relative;
}
.int-img img{
    width: 100%;
    height: 100%;
}
.int-img span{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-weight: 600;
}

.articolo-cons{
    margin-bottom: 10px;
}